<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger" style="display: flex; justify-content: space-between;">
                        <h2 class="card-title ">Survey Management</h2>
                        <button class="btn btn-primary btn-sm" style="float: right; margin-top: 4px; font-size: 13px;"
                            routerLink="/create-survey">
                            <span class="fa fa-plus"></span>
                            <span>
                                Add Survey
                            </span>
                        </button>
                    </div>
                    <div class="card-body">
                        <span *ngIf="loading" style="margin-left: 50%;" class="spinner-border spinner-border-sm mr-1"></span>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th style="text-align: center;">
                                        ID
                                    </th>
                                    <th style="text-align: center;">
                                        Name
                                    </th>
                                    <th style="text-align: center;">
                                        Description
                                    </th>
                                    <th style="text-align: center;">
                                        Status
                                    </th>

                                    <th style="text-align: center;">
                                        Action
                                    </th>

                                </thead>
                                <tbody>
                                    <tr *ngFor="let survey of surveys">
                                        <td style="text-align: center;">
                                            {{survey.surveyId}}
                                        </td>
                                        <td style="text-align: center;">
                                            {{survey.name}}
                                        </td>
                                        <td style="text-align: center;">
                                            {{survey.description}}
                                        </td>
                                        <td style="text-align: center;">
                                            <!-- {{(survey.status)===0?'Private':''}}
                                            {{(survey.status)===1?'Public':''}} -->
                                            <button (click)="onChangeStatus(survey.code)" class="btn btn-primary fa fa-check-square"
                                                  type="submit" style="font-size: 13px;"> {{(survey.status === 0)? 'Private':'Public'}}</button>
                                            <!-- {{(survey.status)===2?'Paid':''}}
                                                
                                            {{(survey.status)===3?'Free':''}}
                                            {{(survey.status)===4?'Rejected':''}} -->
                                        </td>
                                        <td style="text-align: center;">
                                            <!-- <button class="btn btn-primary fa fa-eye"
                                                routerLinkActive="router-link-active" [routerLink]="['/evaluate-survey']" routerLinkActive="router-link-active"  style="font-size: 14px;"></button> -->
                                            <button  [routerLink]="['/edit-survey', survey.code]" class="btn btn-primary fa fa-edit" replaceUrl="true"
                                                queryParamsHandling="merge" style="font-size: 14px;"></button>
                                            <button *ngIf="survey.status == 1" (click)="OpenModal(survey.code)" class="btn btn-primary fa fa-link" replaceUrl="true"
                                                queryParamsHandling="merge" style="font-size: 14px;"></button>
                                            <!-- <button class="btn btn-primary fa fa-trash" type="submit" (click)="onDelete(recipe.id)"
                                                style="font-size: 14px;"></button> -->
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                            <div *ngIf="totalRecords > 0 else nondata" style="margin-left: 37%;">
                                <nav>
                                    <ul class="pagination">
                                        <ngb-pagination [collectionSize]="totalRecords" [(page)]="page" [maxSize]="10"
                                            [pageSize]="pageSize" [rotate]="true" [boundaryLinks]="true"
                                            (pageChange)="loadPages($event, condition.PageSize)"></ngb-pagination>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>