<mat-card style="width: 100%; margin:auto; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);background-color: #f0ebf8;">

   
    <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div
            style="width: 100%;margin: auto;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) ; border-top-right-radius:50px; border-top-left-radius:50px;;background-color: #9583f7">
            <!-- <mat-label style="font-size: large; text-align: center;"></mat-label><br /> -->
            <h2  *ngIf="!editMode" class="page-title" style="text-align: center;color:#070606;">Tạo khảo sát</h2>
            <h2 *ngIf="editMode" class="page-title" style="text-align: center;color:#070606;">Chỉnh sửa khảo sát</h2>
        </div>
        <mat-card style="width: 100%; margin:auto; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);background-color: #fff;">

            <mat-form-field class="full-width">
                <input formControlName="surveyTitle" matInput placeholder="Tiêu đề khảo sát" maxlength="50"
                    [required]="true">
            </mat-form-field>

            <mat-form-field class="full-width">
                <textarea formControlName="description" style="resize: none;" matInput placeholder="Mô tả"></textarea>
            </mat-form-field>
        </mat-card>
        <div class="survey-options " style="margin-top: 20px;" formArrayName="surveyQuestions">

            <div class="poll-options ">
                <!-- <h3 class="list-title">Thêm câu hỏi khảo sát </h3> -->


                <ol class="list-style">
                    <li *ngFor="let questionCtrl of surveyForm.get('surveyQuestions')['controls']; let i = index">
                        <div [formGroupName]="i">
                            <mat-form-field class="full-width">
                                <input formControlName="questionTitle" maxlength="200" matInput
                                    placeholder="Tiêu đề câu hỏi" [required]="true">
                            </mat-form-field>
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Chọn loại câu hỏi</mat-label>
                                <mat-select formControlName="questionType" placeholder="Loại câu hỏi" ng-model="myVar"
                                    [(value)]="selectedOption[i]"
                                    (selectionChange)="onSeletQuestionType(selectedOption[i], i)" [required]="true">
                                    <mat-option *ngFor="let type of questions" [value]="type.value">
                                        {{type.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <div formGroupName="questionGroup">
                                <div *ngIf="questionCtrl.controls.questionType.value == 'Single choice' ">
                                    <div *ngIf="questionCtrl.controls.questionGroup.controls.options">
                                        <ul class="question-type" formArrayName="options">
                                            <li
                                                *ngFor="let optionCtrl of questionCtrl.controls.questionGroup.controls.options.controls; let j = index">
                                                <div [formGroupName]="j">
                                                    <mat-radio-button disabled></mat-radio-button>
                                                    <mat-form-field>
                                                        <input formControlName="optionText" matInput
                                                            placeholder="Tiêu đề tùy chọn" maxlength="100" [required]="true">
                                                    </mat-form-field>

                                                    <button *ngIf="j>=2" (click)="removeOption(i,j)" color="warn">X

                                                    </button>

                                                </div>
                                            </li>
                                        </ul>
                                        <button mat-raised-button type="button" (click)="addOption(i)"
                                            class="mat-sm-button add-option-btn" color="accent"> Thêm lựa chọn</button>
                                    </div>
                                </div>
                                <div *ngIf="questionCtrl.controls.questionType.value == 'Multi choice'">
                                    <div *ngIf="questionCtrl.controls.questionGroup.controls.options">
                                        <ul class="question-type" formArrayName="options">
                                            <li
                                                *ngFor="let optionCtrl of questionCtrl.controls.questionGroup.controls.options.controls; let j = index">
                                                <div [formGroupName]="j">
                                                    <mat-checkbox disabled color='primary'> </mat-checkbox>

                                                    <mat-form-field>
                                                        <input formControlName="optionText" matInput
                                                            placeholder="Tiêu đề tùy chọn" maxlength="100" [required]="true">
                                                    </mat-form-field>

                                                    <button mat-raised-button *ngIf="j>=2" (click)="removeOption(i,j)"
                                                        color="warn">
                                                        X
                                                    </button>

                                                </div>
                                            </li>
                                        </ul>
                                        <button mat-raised-button type="button" (click)="addOption(i)"
                                            class="mat-sm-button add-option-btn" color="accent"> Thêm lựa chọn</button>
                                    </div>
                                </div>
                                <div *ngIf="questionCtrl.controls.questionType.value == 'Text'">

                                    <!-- <mat-form-field class="full-width">
                                            <textarea style="resize: none;" disabled matInput
                                                placeholder="Textarea"></textarea>
                                        </mat-form-field> -->

                                </div>
                                <div *ngIf="questionCtrl.controls.questionType.value == 'Number'">
                                    <!-- 
                                        <mat-form-field class="full-width">
                                            <textarea style="resize: none;" disabled matInput
                                                placeholder="Textarea"></textarea>
                                        </mat-form-field> -->

                                </div>
                                <div *ngIf="questionCtrl.controls.questionType.value == 'Paragraph'">
                                    <div class="full-width"
                                        *ngIf="questionCtrl.controls.questionGroup.controls.content">
                                        <ckeditor formControlName="content" name="myckeditor" required [editor]="Editor"
                                            [config]="{ toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote']}"
                                            debounce="500">
                                        </ckeditor>
                                    </div>
                                </div>

                            </div>

                            <button *ngIf="i>0" mat-mini-fab color="warn" type="button" (click)="onRemoveQuestion(i)"
                                class="poll-remove-btn">
                                X
                            </button>
                        </div>
                    </li>
                </ol>
                <div fxLayout="row" fxLayoutAlign="end">
                    <button type="button" mat-raised-button (click)="onAddQuestion()">
                        Thêm câu hỏi
                    </button>
                </div>
            </div>

        </div>


        <div class="button-row">
            <button class="full-width" color="primary" type="submit" mat-raised-button>


                <span *ngIf="!editMode">Thêm mới khảo sát</span>
                <span *ngIf="editMode">Chỉnh sửa khảo sát</span>
            </button>
        </div>
    </form>
</mat-card>